.TopContainer {
    background-color: hsl(51, 93%, 89%);
    padding-top: 100px;
    position: relative;
}

.MiddleContainer {
    background-color: #F2BB7B;
}

.BottomContainer {
    background-color: #FFDEDE;
}

.Top-cloud {
    position: absolute;
    left: 400px;
    top: 20px;
}

.Bottom-cloud {
    position: absolute;
    right: 400px;
    bottom: 350px;
}


/* p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

element.style {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
} */

body {
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    height: 20%;
    width: 40%;
    font-size: xx-large;
    margin: 0 auto 0 auto;
    color: #F2BB7B;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.profilePicture {
    height: 150px;
    width: 150px;
}

.bacon1 {
    height: 200px;
    width: 200px;
}

.bacon2 {
    height: 200px;
    width: 200px;
}